<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.king.SinaNews"
          android:versionCode="1"
          android:versionName="1.0"
        >

    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/blacksinalogo"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name="com.king.app.AppContext"
            >
        <activity
                android:name="MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                />
        <activity
                android:name="cn.sharesdk.framework.ShareSDKUIShell"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"
                >
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".TextNewsContentActivity"
                android:windowSoftInputMode="stateHidden"
                />
        <activity
                android:name=".MoreCommentActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"
                />
        <activity
                android:name=".ImageDetailActivity"
                android:screenOrientation="portrait"
                />
        <activity
                android:name=".VideoDetailActivity"
                android:screenOrientation="landscape"
                />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".LossPswActivity"/>
        <activity android:name=".ResetPswActivity"/>
        <activity android:name=".RegistActivity"/>
        <activity android:name=".ChoseLoginActivity"/>
        <activity android:name=".RegistNextActivity"/>
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".UploadNewsAcitivity"
                android:windowSoftInputMode="stateHidden"
                />
        <activity android:name=".CollectActivity"/>
        <activity android:name=".MyCommentActivity"/>
        <activity android:name=".UploadImageActivity"/>
    </application>
</manifest>
